.calc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    

    .title{
        font-size: 30px;
        font-family: 'Roboto Mono';
    }

    .calculator{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        background-color: #fcfcfc;
        border-radius: 20px;
        overflow: hidden;
        padding: 20px;
        filter: drop-shadow(0px 2px 4px #dedede);

        .main-form{
            width: 35%;
            display: flex;
            flex-direction: column;

            fieldset{
                display: flex;
                flex-direction: column;
                border: none;
                margin: 10px 0;
                
                label{
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 5px;
                    margin-left: 5px;
                }

                input{
                    border: none;
                    border-bottom: 1px solid rgb(137, 137, 137);
                    outline: none;
                    font-size: 20px;
                    background-color: transparent;
                    padding: 2px 5px;
                }

                select{
                    appearance: none;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgb(137, 137, 137);
                    outline: none;
                    font-size: 20px;
                    padding: 2px 5px;
                }

                input::placeholder{
                    font-size: 12px;
                    text-align: right;
                }
            }

            fieldset.BMI-cont{  
                .height-input{
                    width: 90%;
                }
                .weight-input{
                    width: 95%;
                }

            }
        }
        
        .result{
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .label{
                margin-left: 20px;
            }
            .amount{
                color: red;
                font-size: 100px;
                font-family: 'Roboto Mono';
            }   
        }
    }
}